@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
  --animation-duration: 0.3s;
}

.form-element {
  display: flex;
  background-color: #121212;
  width: 1120px;
  border-radius: 15px;
  padding: 26px;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  box-shadow: 0 4px 0px #000;
  justify-content: space-between;
  transition: background-color var(--animation-duration) ease-in;
  transition: padding var(--animation-duration) ease;
  color: white;
}

.estate-add-client-button:hover {
  background-color: blue;
}
.estate-add-client-button {
  background-color: rgb(36, 32, 143);
}

.form-element:hover {
  background-color: rgb(26, 25, 22);
  padding-block: 40px;
}

.form-element__name {
  font-size: 24px;
}

.form-element__button {
  cursor: pointer;
}

.form-element img {
  display: block;
}

.companyInfo-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
}

@media (max-width: 1200px) {
  .form-element {
    width: 960px;
    font-size: 24px;
  }
}

@media (max-width: 1024px) {
  .form-element {
    width: 768px;
    font-size: 20px;
  }
  .form-element__name {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .form-element {
    width: 480px;
    font-size: 18px;
  }
  .form-element__name {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .form-element {
    width: 100%;
    flex-direction: column;
    font-size: 12px;
  }
  .form-element__name {
    font-size: 16px;
  }
  .companyInfo-wrapper {
    font-size: 24px;
  }
}
@media (max-width: 1200px) {
  .form-element {
    width: 960px;
  }
}

@media (max-width: 1024px) {
  .form-element {
    width: 768px;
  }
  .form-element__name {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .form-element {
    width: 480px;
  }
  .form-element__name {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .form-element {
    width: 100%;
    flex-direction: column;
  }
  .form-element__name {
    font-size: 16px;
  }
  .companyInfo-wrapper {
    font-size: 24px;
  }
}
