input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.new-worker {
  color: white;
  display: flex;
  justify-content: space-between;
  background-color: #121212;
  width: 740px;
  border-radius: 15px;
  padding: 26px;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  box-shadow: 0 4px 0px #000;
}

.new-worker__controls-input {
  background-color: transparent;
  border: none;
  color: white;
  font-family: inherit;
  font-size: 24px;
}

.new-worker__controls-input:focus {
  outline: none;
  box-shadow: none;
}

.new-worker__action {
  background-color: #5eb436;
  font-family: inherit;
  font-size: 24px;
  cursor: pointer;
  padding: 7px 32px;
  border-radius: 15px;
  transition: background-color 0.9s ease;
}

.new-worker__action:hover {
  background-color: #7cda30;
}

@media (max-width: 1024px) {
  .new-worker {
    max-width: 600px;
  }
  .new-worker__controls-input {
    font-size: 20px;
  }
  .new-worker__action {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .new-worker {
    max-width: 480px;
  }
  .new-worker__controls-input {
    font-size: 18px;
  }
  .new-worker__action {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .new-worker {
    max-width: 360px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
  .new-worker__controls-input {
    font-size: 16px;
  }
  .new-worker__action {
    font-size: 16px;
  }
}
